
ShapeDrawing/.vs/ShapeDrawing/v15/Server/sqlite3/db.lock
ShapeDrawing/.vs/ShapeDrawing/v16/.suo
ShapeDrawing/.vs/ShapeDrawing/v16/Server/sqlite3/storage.ide
ShapeDrawing/ShapeDrawing/obj/x86/Debug/ShapeDrawing.csprojAssemblyReference.cache
mso final project/.vs